<h1>Reset Password Confirmation</h1>

<p>
    Your password has been reset. Please
    <a onclick="showInPopup('@Url.Action("Login","Account",null,Context.Request.Scheme)','Login')">
        click here to log in
    </a>.
</p>